{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post">
  {% csrf_token %} 
  
  {{ user_form.non_field_errors|crispy }}
    {{ user_form.first_name.errors|crispy }}
    <label for="{{ user_form.first_name.id_for_label }}">First Name:</label>
    {{ user_form.first_name|crispy }}
    <p>
    {{ user_form.last_name.errors|crispy }}
    <label for="{{ user_form.last_name.id_for_label }}">Last Name:</label>
    {{ user_form.last_name|crispy }}
    </p>
    <p>
    {{ user_form.username.errors|crispy }}
    <label for="{{ user_form.username.id_for_label }}">Username:</label>
    {{ user_form.username|crispy }}
    </p>
    <p>
    {{ user_form.email.errors|crispy }}
    <label for="{{ user_form.email.id_for_label }}">Email:</label>
    {{ user_form.email|crispy }}
    </p>

    {{contact_form|crispy}}

  <button type="submit">Update</button>

</form>


{% endblock %}