{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<h1>My Profile</h1>
 <b>Username:</b>
 {{user.username}}
<br>
 <b><a href="{% url 'account:edit_profile' user.id %}">Edit Profile</a></b>
 <br>
 <a href="{% url 'drugs:donate_medicine' %}">DONATE</a>
 <br>
 <a href="{% url 'account:donations' %}">MY DONATIONS</a>

{% if user.is_stocker %}
<br>
<a href="{% url 'service:create_stock' %}">Register as Stocker</a>
{% endif %}
<br>
<a href="">MY STOCK</a>
<br>
<a href="{% url 'service:check_assignment' %}">VOLUNTEER</a>
<br>
<a href="">FIND MEDICINE</a>


 {% block profile_content %}
 {% endblock %}

{% endblock %}